{% include 'base/head.html' with title='Register' extra_imports='/static/css/register.css //maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %}
<body>
    <div class="container-fluid register">
        <div class="row">
            <div class="col-md-3 register-left">
                <a href="/"><input style="margin-top: -1px; margin-bottom: 10px;" type="submit" name="" value="Go back"/></a><br>
                <a href="/login"><input style="margin-top: -10px;" type="submit" name="" value="Login" /></a><br>
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome!</h3>
                <p>You are 30 seconds away a healthier lifestyle!</p>
                <br/>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Register</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="fname" type="text" class="form-control" placeholder="First Name *" value="" required>
                                </div>
                                <div class="form-group">
                                    <input id="lname" type="text" class="form-control" placeholder="Last Name *" value="" required>
                                </div>
                                <div class="form-group">
                                    <input id="password" type="password" class="form-control" placeholder="Password *" value="" required>
                                </div>
                                <div class="form-group">
                                    <input id="passwordControl" type="password" class="form-control" placeholder="Confirm Password *" value="" required>
                                </div>
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input id="male" type="radio" name="gender" value="male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input id="female" type="radio" name="gender" value="female">
                                            <span>Female </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="email" type="email" class="form-control" placeholder="Your Email *" value="" required>
                                </div>
                                <input type="submit" class="btnRegister" value="Register" onclick="$(this).register()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
    <script>
        $(document).ready(function() {
            var hasError = false;
            var toSmall = false;
            function getCookie(name) {
                var cookieValue = 2;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
            return cookieValue;
            }

            $.fn.register = function() {
                fname = $('#fname').val();
                lname = $('#lname').val();
                password = $('#password').val()
                passwordControl = $('#passwordControl').val();
                email = $('#email').val();

                if (password != passwordControl && hasError == false) {
                    $('#password').after("<div class='alert-danger text-center'>Passwords do not match</div>");
                    hasError = true;
                    return false;
                }
                if (password.length < 8 && toSmall == false) {
                    $('#passwordControl').after("<div class='alert-danger text-center'>Password needs to be 8 characters long</div>");
                    toSmall = true;
                    return false;
                }

                if (password != passwordControl || password.length < 8) {
                    return false;
                }

                if ($('#name').is(':checked')) {
                    gender = true;
                } else {
                    gender = false;
                }


                $.ajax({
                    url: '/actions/register/',
                    type: 'post',
                    data: {
                        email: email,
                        password: password,
                        fname: fname,
                        lname: lname,
                        gender: gender,
                    },
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    dataType: 'json',
                    error: function (xhr, status, error) {
                        if (xhr.responseJSON['error'] == "an account with this email address already exists") {
                            $('input#email').after("<div class='alert-danger text-center'>" + xhr.responseJSON['error'] + "</div>");
                        }
                    },
                    success: function(data, textStatus, jqXHR) {
                        Cookies.set('emailFF', jqXHR.responseJSON['email']);
                        Cookies.set('tokenFF', jqXHR.responseJSON['token']);
                        $( location ).attr("href", '/dashboard');
                    }
                });
            }
        });
    </script>
</body>