<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<div class="col-md-3" id="menu" style="width: 35% !important; background-color: #1abc9c; min-height: 100vh; padding: 0px !important;">
    <img src="/static/images/logo.png" width="100%" class="menu-item">
    <li class="menu-item" onclick="$(this).navigate('1');"><p><i class="fas fa-signal"></i> your stats<i id="stats" class="fas fa-circle"></i></p></li>
    <li class="menu-item dark" onclick="$(this).navigate('2');"><p><i class="fas fa-trophy"></i> challenges<i id="challenge" class="fas fa-circle"></i></p></li>
    <li class="menu-item" onclick="$(this).navigate('3');"><p><i class="fas fa-users"></i> leaderboards<i id="leaderboard" class="fas fa-circle"></i></p></li>
    <li class="menu-item dark" onclick="$(this).navigate('4');"><p><i class="fas fa-wallet"></i> wallet<i id="wallet" class="fas fa-circle"></i></p></li>
    <li class="menu-item" onclick="$(this).navigate('5');"><p><i class="fas fa-cogs"></i> settings<i id="settings" class="fas fa-circle"></i></p></li>

    <div class="quote-otd col-md-3" style="width: 35% !important;">
        <p class="title">Quote of the day</p>
        <img src="">
        <p class="quote"></p>
        <p class="name"></p>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script>
    function winLocation(term) {
        if (window.location.href.indexOf(term) != -1) {
            return true;
        }
    };

    $(document).ready( function() {
        $.ajax({
            url: '/api/get-quote-otd/',
            type: 'post',
            headers: {
                'X-CSRFToken': Cookies.get('csrftoken')
            },
            dataType: 'json',
            success: function(data, textStatus, jqXHR) {
                json = data;
                $('div.quote-otd p.quote').html('"' + json['quote'] + '"');
                $('div.quote-otd p.name').html('<b>' + json['name'] + '</b><br>' + json['location']);
                $("div.quote-otd img").attr("src", '/' + json['image']);

            }
        });

        currentPath = window.location.href;
        switch (true) {
            case winLocation('/dashboard/challenges/'):
                $('#challenge').addClass('current');
                break
            case winLocation('/dashboard/leaderboards/'):
                $('#leaderboard').addClass('current');
                break
            case winLocation('/dashboard/wallet/'):
                $('#wallet').addClass('current');
                break
            case winLocation('/dashboard/settings/'):
                $('#settings').addClass('current')
                break
            default:
                $('#stats').addClass('current');
                break
        }


    });

    $.fn.navigate = function(id) {
        switch(id) {
            case '1':
                window.location.href = "/dashboard/";
                break
            case '2':
                window.location.href = "/dashboard/challenges/";
                break
            case '3':
                window.location.href = "/dashboard/leaderboards/";
                break
            case '4':
                window.location.href = "/dashboard/wallet/";
                break
            case '5':
                window.location.href = "/dashboard/settings/";
                break
        }
    };
</script>