{% include 'base/head.html' with extra_imports='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css static/css/carousel.css static/css/header.css' title='Home' %}
<body>
    {% include 'base/header.html' %}
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
        </ol>

      <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Get healthier</h1>
                        <h3>Use our app to compete with your friends in dozens of fitness challenges. Wager bets with your friends or play for the honour.</h3>
                    </hgroup>
                    <a href="/register"><button class="btn btn-hero btn-lg" role="button">Sign up for free</button></a>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>xxx.xxx people already compete</h1>
                        <h3>Our platform is already used and loved by thousands of people.</h3>
                    </hgroup>
                    <a href="/register"><button class="btn btn-hero btn-lg" role="button">Sign up for free</button></a>
                </div>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
</body>