@import url('https://fonts.googleapis.com/css?family=Signika:600');
@import url('https://fonts.googleapis.com/css?family=Signika:400');
@import url('https://fonts.googleapis.com/css?family=Raleway');
img.menu-item {
    padding: 50px;
    width: 80%;
    padding-bottom: 30px;
}
li.menu-item {
    width: 100%;
    height: 4vw;
    list-style-type: none;
    padding-left: 50px;
    color: #fff;
    font-family: 'Signika', sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    display: table;
}



li.menu-item p {
    vertical-align: middle;
    display: table-cell;
}

li.dark {
    background-color: #16ad8f;
}

div.quote-otd {
    height: 12.5vw;
    position: fixed;
    bottom: 0;
    background: #fff;
}

div#menu, div.quote-otd {
    border-right: 2px solid #e1e5f4;
    padding-left: 50px;
}

div.quote-otd img {
    width: 5vw;
    height: 5vw;
    line-height: 12.5vw;
    max-height: 12.5vw;
    border: 1px rgba(0,0,0, 0.5) solid;
    border-radius: 90px;
    float: left;
    margin-right: 10px;
}

p.quote {
    text-align: right;
    font-family: 'Raleway', sans-serif;
}

p.name {
    clear: both;
    text-align: right;
    font-size: 1vw;
    width: 5.5vw;
    padding-left

}

p.title {
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    text-align: center;
    float: clear;
}

div.graph-frame {
    width: 45%;
    float: left;
    padding-top: 50px;
    padding-right: 50px;
}

h3.graph-title {
    font-size: 1.5vw;
    padding-bottom: 0.5vw;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    text-align: center;
}

#stats, #challenge, #leaderboard, #wallet, #settings {
    float: right !important;
    margin-right: 15px;
    display: none;
}

.current {
    display: block !important;
}

h3.title {
    font-size: 1.5vw;
    padding-bottom: 0.5vw;
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    background: #f7f7f7;
    border: 1px solid #dedede;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: #16ad8f;
    background: #1abc9c;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: #16ad8f;
    background: #1abc9c;
}



.ui-widget-header {
    background: #1abc9c;
    border: #16ad8f;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    color: #333;
}