#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #1abc9c;
    border-color: #22b79a;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #16ad8f;
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #16ad8f;
    color: #fff;
}

* {
    -webkit-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
}