{% include 'base/head.html' with extra_imports='https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css /static/css/dash_menu.css' %}
<div class="container-fluid">
    <div class="row">
        {% include 'base/dashboard/menu.html' %}
        <div class="col-md-9 well" style="padding-left: 3%; padding-right: 3%; padding-top: 50px;">
            <h3 class="title" style="padding: 8px;">Create a challenge</h3>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="name">Name of the competition</label>
                        <input class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-3">
                         <label for="inputType">Type</label>
                         <select id="inputType" class="form-control" required>
                            <option selected>Step count</option>
                            <option>Weight loss</option>
                         </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="datepicker">Start date</label>
                        <input type="text" id="datepicker" class="form-control" required>
                    </div>
                    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
                    <script>
                     $(function() {
                        $("#datepicker").datepicker();
                        $("#datepicker-2").datepicker();
                     });
                  </script>
                </div>
                 <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="name">Max. players</label>
                        <input class="form-control" id="players" required>
                    </div>
                    <div class="form-group col-md-3">
                         <label for="inputComp">Competition</label>
                         <select id="inputComp" class="form-control" required>
                         <option selected>1v1</option>
                         <option>2v2</option>
                         <option>3v3</option>
                         <option>4v4</option>
                         <option>5v5</option>
                         </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="datepicker-2">End date</label>
                        <input type="text" id="datepicker-2" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                         <label for="inputpType">Price type</label>
                         <select id="inputpType" class="form-control" required>
                         <option selected>Currency</option>
                             <option>fPoints</option>
                         </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="name">Price</label>
                        <input id="price" class="form-control" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="access-key">Access key</label>
                        <input id="access-key" class="form-control" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="submitBtn">&#8291;</label>
                        <button id="submitBtn" onclick="$(this).createChallenge(); return false;" type="submit" class="btn btn-primary" style="width: 100%">Create challenge</button>
                    </div>
                </div>
            </form>
            <h3 class="title" style="padding: 8px; margin-top: 10px;">Join a challenge</h3>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="compName">Name of the competition</label>
                        <input class="form-control" id="compName" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="compKey">Access key (blank for none)</label>
                        <input class="form-control" id="compKey">
                    </div>
                    <div class="form-group col-md-3">
                        <p><b>Entry price:</b></p>
                        <p>500 fPoints</p>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sBtn">&#8291;</label>
                        <button id="sBtn" type="submit" class="btn btn-primary" style="width: 100%">Join challenge</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $.fn.createChallenge = function() {
            compName = $('#name').val();
            inputType = $('#inputType option:selected').val();
            startDate = $('#datepicker').val();
            maxPlayers = $('#players').val();
            competition = $('#inputComp option:selected').val();
            endDate = $('#datepicker-2').val();
            priceType = $('#inputType option:selected').val();
            price = $('#price').val();
            accessKey = $('#access-key').val();

            $.ajax({
                url: '/actions/create-challenge/',
                type: 'post',
                data: {
                    name: compName,
                    type: inputType,
                    startdate: startDate,
                    players: maxPlayers,
                    comp: competition,
                    enddate: endDate,
                    pricetype: priceType,
                    price: price,
                    key: accessKey
                },
                headers: {
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                dataType: 'json',
                success: function(data, textStatus, jqXHR) {
                    window.location.href(data['link']);
                },
                error: function() {

                },
            });
        };
    });
</script>
