{% include 'base/head.html' with extra_imports='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css /static/css/dash_menu.css' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<div class="container-fluid">
    <div class="row">
        {% include 'base/dashboard/menu.html' %}
        <div class="col-md-9 well" style="padding-left: 3%; padding-right: 3%;">
            <div class="graph-frame">
                <h3 class="graph-title">Step count</h3>
                <canvas id="stepGraph" width="400" height="400"></canvas>
            </div>
            <div class="graph-frame">
                <h3 class="graph-title">Calories burned</h3>
                <canvas id="calGraph" width="400" height="400"></canvas>
            </div>
            <div class="graph-frame">
                <h3 class="graph-title">Wins</h3>
                <canvas id="winGraph" width="400" height="400"></canvas>
            </div>
            <div class="graph-frame">
                <h3 class="graph-title">Wallet</h3>
                <canvas id="walletGraph" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
    daysAgo = []
    for(var i=1; i<=7; i++) {
        daysAgo[i] = moment().subtract(i, 'days').format("DD-MM")
    }
    daysAgo = daysAgo.reverse();
    daysAgo.pop();
    function weeksAgo(weeks) {
        weeksAgo = [];
        for(var i=1; i<=weeks; i++) {
            weeksAgo[i] = moment().subtract((i*7)-7, 'days').format("DD-MM") + ' - ' + moment().subtract(i*7, 'days').format("DD-MM")
        }
        weeksAgo.shift();
        return weeksAgo;
    };


    $.ajax({
        url: '/api/get-step-count/',
        type: 'post',
        headers: {
            'X-CSRFToken': Cookies.get('csrftoken')
        },
        dataType: 'json',
        success: function(data, textStatus, jqXHR) {
            data = [data[1], data[2], data[3], data[4], data[5], data[6], data[7]];
            var ctx = document.getElementById("stepGraph");
            ctx.height = ctx.width / 2;
            labels = daysAgo.reverse();
            var stepGraph = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            'rgb(26, 188, 156, 1)',
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        callbacks: {
                           label: function(tooltipItem) {
                                  return tooltipItem.yLabel;
                           }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        }
    });

    $.ajax({
        url: '/api/get-calorie-count/',
        type: 'post',
        headers: {
            'X-CSRFToken': Cookies.get('csrftoken')
        },
        dataType: 'json',
        success: function(data, textStatus, jqXHR) {
            data = [data[1], data[2], data[3], data[4], data[5], data[6], data[7]];
            var ctx = document.getElementById("calGraph");
            ctx.height = ctx.width / 2;
            labels = daysAgo.reverse();
            var stepGraph = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: [
                            'rgb(26, 188, 156, 1)',
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        callbacks: {
                           label: function(tooltipItem) {
                                  return tooltipItem.yLabel;
                           }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        }
    });

    $.ajax({
        url: '/api/get-wins/',
        type: 'post',
        headers: {
            'X-CSRFToken': Cookies.get('csrftoken')
        },
        dataType: 'json',
        success: function(data, textStatus, jqXHR) {
            var ctx = document.getElementById("winGraph");
            ctx.height = ctx.width / 2;
            labels = weeksAgo(data[0].length);

            dataWins = data[0]
            dataMatches = data[1]

            var calGraph = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        data: dataWins,
                        label: 'wins',
                        backgroundColor: [
                            'rgb(26, 188, 156, 1)',
                        ]
                    },
                    {
                        label: 'matches',
                        data: dataMatches,
                        backgroundColor: [
                            'rgb(220,20,60, 1)',

                        ]
                    }]
                },
                options: {
                    multiTooltipTemplate: '<%=datasetLabel%> : <%= value %>',
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        mode: 'index',
                        callbacks: {
                            label: function(item, data) {
                            var datasetLabel=data.datasets[item.datasetIndex].label||'';
                            var dataPoint = item.yLabel;
                            return dataPoint + ' ' + datasetLabel;
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        }
    });

    $.ajax({
        url: '/api/get-wallet/',
        type: 'post',
        headers: {
            'X-CSRFToken': Cookies.get('csrftoken')
        },
        dataType: 'json',
        success: function(data, textStatus, jqXHR) {
            var ctx = document.getElementById("walletGraph");
            ctx.height = ctx.width / 2;
            labels = daysAgo;
            fPoints = data[0];
            currency = data[1];
            var calGraph = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [
                    {
                        label: '$',
                        data: currency,
                        backgroundColor: [
                            'rgb(22, 173, 143)',

                        ]
                    },
                    {
                        data: fPoints,
                        label: 'fPoints: ',
                        backgroundColor: [
                            'rgb(26, 188, 156)',
                        ]
                    },
                    ]
                },
                options: {
                    legend: {
                        display: false,
                        skipLabels: false,
                    },
                    tooltips: {
                        mode: 'index',
                        callbacks: {
                            label: function(item, data) {
                            var datasetLabel=data.datasets[item.datasetIndex].label||'';
                            var dataPoint = item.yLabel;
                            return datasetLabel + dataPoint;
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        }
    });
</script>