{% include 'base/head.html' with extra_imports='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css /static/css/dash_menu.css' %}
<div class="container-fluid">
    <div class="row">
        {% include 'base/dashboard/menu.html' %}
        <div class="col-md-9 well" style="padding-left: 3%; padding-right: 3%; padding-top: 50px;">

        </div>
    </div>
</div>
<script>
    $(document).ready( function() {
        $.ajax({
            url: '/api/get-challenges/',
            type: 'post',
            headers: {
                'X-CSRFToken': Cookies.get('csrftoken')
            },
            dataType: 'json',
            success: function(data, textStatus, jqXHR) {
                $(data).each(function( index ) {
                    $('div.well').append(index);
                });
            },
            error: function() {

            },
        });
    });
</script>