<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="margin-right: 150px;">FitWithFriends</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/about-us">About us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/report-a-bug">Report a bug</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/how-does-it-work">How it works</a></li>
            <li class="divider"></li>
            <li><a href="/our-team">Our team</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Already have an account?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                <p class="text-center">or</p>
                                <p class="error text-center"></p>
								 <form class="form" role="form" accept-charset="UTF-8" id="login-nav" onsubmit="$(this).login(); return false;">
									{% csrf_token %}
                                     <div class="form-group">
											 <label class="sr-only" for="InputEmail">Email address</label>
											 <input type="email" class="form-control" id="InputEmail" placeholder="Email address" required>
										</div>
										<div class="form-group">
											 <label class="sr-only" for="InputPassword">Password</label>
											 <input type="password" class="form-control" id="InputPassword" placeholder="Password" required>
                                             <div class="help-block text-center"><a href="">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox" id="keep-logged"> keep me logged-in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="/register"><b>Join Us</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    $(document).ready(function() {
        function getCookie(name) {
            var cookieValue = 2;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
        return cookieValue;
        }

        function setCookie(c_name, value, exdays) {
            try {
                if (!c_name) return false;
                var exdate = new Date();
                exdate.setDate(exdate.getDate() + exdays);
                var c_value = escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                document.cookie = c_name + "=" + c_value;
            }
            catch(err) {
                return false;
            };
            return true;
        }

        $.fn.login = function() {
            var email = $('#InputEmail').val();
            var password = $('#InputPassword').val();

            $.ajax({
            url: '/actions/login/',
            type: 'post',
            data: {
                email: email,
                password: password,
            },
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            dataType: 'json',
            error: function (xhr, status, error) {
                $('p.error').addClass('alert-danger');
                $('p.error').html(xhr.responseJSON['error']);
            },
            success: function(data, textStatus, jqXHR) {
                Cookies.set('emailFF', $('#InputEmail').val());
                if ($('#keep-logged').prop('checked')) {
                    Cookies.set('tokenFF', jqXHR.responseJSON['token'], { expires: 30 });
                } else {
                    Cookies.set('tokenFF', jqXHR.responseJSON['token']);
                }
                $( location ).attr("href", '/dashboard');
            }
            });
        };
    });
</script>