<!DOCTYPE html>
{% load static %}
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% if extra_imports %}
        {% for import in extra_imports.split %}
            <link rel="stylesheet" href="{{ import }}">
        {% endfor %}
    {% endif %}
</head>